# .envrc

# install https://direnv.net/ first!

export APP_NAME=<%= @app_name %>
export DOCKER_DB_HOST='127.0.0.1'
export develop_container_name="${APP_NAME}-dev-db"
export test_container_name="${APP_NAME}-test-db"
export PORT=80
